@tailwind base;
@tailwind components;
@tailwind utilities;

body, .card-bg,  .button-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(36 39 49 / var(--tw-bg-opacity));
}

.search-bg,.dashboard-bg {
    --tw-bg-opacity: 1;
    background-color: rgb(31 33 40 / var(--tw-bg-opacity));
}

.card-energy-bg, .filter-bg {
    background-color: rgba(161, 98, 247, 1);
}

.energy-icon {
    background-color: rgba(166, 111, 240, 1);
}